<configuration>
<system.webServer>

<staticContent>

    <remove fileExtension=".woff" />
    <remove fileExtension=".woff2" />
    <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
    <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />

</staticContent>

<rewrite>
    <rules>
        <rule name="API">
            <match url="^api(.*)$" />
            <conditions logicalGrouping="MatchAll">
            <add input="{SCRIPT_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{SCRIPT_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="api/index.php" appendQueryString="true" />
        </rule>
        <rule name="ADMIN">
            <match url="^admin(.*)$" />
            <conditions logicalGrouping="MatchAll">
            <add input="{SCRIPT_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{SCRIPT_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="admin/index.html" appendQueryString="true" />
        </rule>
        <rule name="ESTAMPAS">
            <match url="^estampas(.*)$" />
            <conditions logicalGrouping="MatchAll">
                <add input="{SCRIPT_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                <add input="{SCRIPT_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="estampas/index.php" appendQueryString="true" />
        </rule>
        <rule name="URLAmigavel">
            <match url="^(.*)$" />
            <conditions logicalGrouping="MatchAll">
            <add input="{SCRIPT_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{SCRIPT_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
    </rules>
</rewrite>

</system.webServer>
</configuration>