<div class="container-fluid">
    <div data-widget-group="group1">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default" data-widget='{"draggable": "false"}'>
                    <div class="panel-heading">
                        <h1>{{vm.unidade.Name}}</h1>

                        <div class="panel-ctrls"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-widget-group="group1">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-teal" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                    <div class="panel-heading" style="background-color: #006fca;border-color: #003057;">
                        <h2 style="color: #fff;">
                            Total de
                            <br>Cadastros
                        </h2>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table browsers m-n">
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <h1 style="margin: 0; font-size: 80px; font-weight: 700;">
                                            {{vm.cadastrosTotal}}
                                        </h1>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-teal" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                    <div class="panel-heading" style="background-color: #006fca;border-color: #003057;">
                        <h2 style="color: #fff;">
                            Cadastros
                            <br>Aula Experimental
                        </h2>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table browsers m-n">
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <h1 style="margin: 0; font-size: 80px; font-weight: 700;">
                                            {{vm.cadastrosAula}}
                                        </h1>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-teal" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                    <div class="panel-heading" style="background-color: #006fca;border-color: #003057;">
                        <h2 style="color: #fff;">Cadastros
                            <br>Matrículas
                        </h2>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table browsers m-n">
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <h1 style="margin: 0; font-size: 80px; font-weight: 700;">
                                            {{vm.cadastrosMartricula}}
                                        </h1>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-teal" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                    <div class="panel-heading" style="background-color: #006fca;border-color: #003057;">
                        <h2 style="color: #fff;">Cadastros
                            <br>Rematrículas
                        </h2>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table browsers m-n">
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <h1 style="margin: 0; font-size: 80px; font-weight: 700;">
                                            {{vm.cadastrosRematricula}}
                                        </h1>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-teal" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                    <div class="panel-heading" style="background-color: #d26069;border-color: #ff1c2e;">
                        <h2 style="color: #fff;">
                            Total
                            <br> de Codigos
                        </h2>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table browsers m-n">
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <h1 style="margin: 0; font-size: 80px; font-weight: 700;">
                                            {{vm.codigosTotal}}
                                        </h1>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-teal" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                    <div class="panel-heading" style="background-color: #d26069;border-color: #ff1c2e;">
                        <h2 style="color: #fff;">
                            Codigos
                            <br> Aula Experimental
                        </h2>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table browsers m-n">
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <h1 style="margin: 0; font-size: 80px; font-weight: 700;">
                                            {{vm.codigosAula}}
                                        </h1>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-teal" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                    <div class="panel-heading" style="background-color: #d26069;border-color: #ff1c2e;">
                        <h2 style="color: #fff;">
                            Codigos
                            <br> Matrículas
                        </h2>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table browsers m-n">
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <h1 style="margin: 0; font-size: 80px; font-weight: 700;">
                                            {{vm.codigosMartricula}}
                                        </h1>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-teal" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                    <div class="panel-heading" style="background-color: #d26069;border-color: #ff1c2e;">
                        <h2 style="color: #fff;">
                            Codigos
                            <br> Rematrículas
                        </h2>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table browsers m-n">
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <h1 style="margin: 0; font-size: 80px; font-weight: 700;">
                                            {{vm.codigosRematricula}}
                                        </h1>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-sky" data-widget='{"draggable": "false"}'>
                <div class="panel-heading" style="background-color: #9e9e9e;border-color: #9e9e9e;">
                    <h2 style="color: #fafafa;">Alunos</h2>
                    <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table st-table="displayedCollection" st-safe-src="vm.Cadastros" class="table table-striped">
                            <thead>
                                <tr>
                                    <th colspan="5"></th>
                                    <th colspan="3">
                                        <input st-search="" class="form-control" placeholder="Busca" type="text" style="margin-bottom: 20px" />
                                    </th>
                                </tr>
                                <tr>
                                    <th st-sort="nome" style="padding-right:100px">Nome</th>
                                    <th st-sort="email">E-mail</th>
                                    <th>Responsavel</th>
                                    <th st-sort="tipo_page">Tipo</th>
                                    <th st-sort="codigos">Codigos</th>
                                    <th>CPF</th>
                                    <th st-sort="data">Data Cadastro</th>
                                    <th>Ver</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Cadastro in displayedCollection">
                                    <td>{{Cadastro.nome}}</td>
                                    <td>{{Cadastro.email}}</td>
                                    <td>{{(Cadastro.tipo_aluno=='menor')? Cadastro.responsavel : 'Maior de Idade'}}</td>
                                    <td>{{Cadastro.tipo_page}}</td>
                                    <td>{{Cadastro.codigos}}</td>
                                    <td>{{Cadastro.cpf}}</td>
                                    <td>{{Cadastro.data_cadastro}}</td>
                                    <td>
                                        <button ng-click="vm.openModalCadastro('modal-cadastro', Cadastro)" class="btn btn-success">
                                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8" class="text-center">
                                        <div st-pagination="" st-items-by-page="20" st-displayed-pages="5"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<modal id="modal-lead">
    <div class="modal">
        <div class="modal-body">
            <h2>LEAD</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    ID:
                    <b>{{vm.modalLead.id}}</b>
                </li>
                <li class="list-group-item">
                    Nome:
                    <b>{{vm.modalLead.nome}}</b>
                </li>
                <li class="list-group-item">
                    E-mail:
                    <b>{{vm.modalLead.email}}</b>
                </li>
                <li class="list-group-item">
                    Telefone:
                    <b>{{vm.modalLead.telefone}}</b>
                </li>
                <li class="list-group-item">
                    CPF:
                    <b>{{vm.modalLead.cpf}}</b>
                </li>
                <li class="list-group-item">
                    Unidade:
                    <b>{{vm.modalLead.unidade}}</b>
                </li>
                <li class="list-group-item">
                    Estado:
                    <b>{{vm.modalLead.unidade_estado}}</b>
                </li>
                <li class="list-group-item">
                    Cidade:
                    <b>{{vm.modalLead.unidade_cidade}}</b>
                </li>
                <li class="list-group-item">
                    Data Cadastro:
                    <b>{{vm.modalLead.data}}</b>
                </li>
                <li class="list-group-item">
                    Lead ID:
                    <b>{{vm.modalLead.lead_id}}</b>
                </li>
                <li class="list-group-item">
                    Confirmado:
                    <b>{{(vm.modalLead.confirmado)? 'sim' : 'não'}}</b>
                </li>
            </ul>
            <button ng-click="vm.closeModal('modal-lead');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>

<modal id="modal-cadastro">
    <div class="modal">
        <div class="modal-body">
            <h2>Cadastro</h2>
            <div class="panel panel-default" ng-repeat="res in vm.modalCadastro">
                <div class="panel-heading" ng-if="res.cadastro.responsavel==1">
                    <h1>{{res.cadastro.tipo_page}}
                        <br>
                        <small style="color: #fff;">Responsável: {{res.cadastro.nome}}</small>
                        <br>
                        <small style="color: #fff;">CPF: {{res.cadastro.cpf}}</small>
                    </h1>
                </div>
                <div class="panel-heading" ng-if="res.cadastro.responsavel==0">
                    <h1>{{res.cadastro.tipo_page}}
                        <br>
                        <small style="color: #fff;">Maior de 18 anos</small>
                    </h1>
                </div>
                <div class="panel-body" style="padding-bottom: 0;" ng-if="res.cadastro.responsavel==1">
                    <ul class="list-group">
                        <li class="list-group-item" style="padding: 0;">
                            <div class="alert alert-info" role="alert" style="margin: 0; border-radius: 0">Dados do Responsável</div>
                        </li>
                        <li class="list-group-item">Nome: {{res.cadastro.nome}}</li>
                        <li class="list-group-item">E-mail: {{res.cadastro.email}}</li>
                        <li class="list-group-item">CPF: {{res.cadastro.cpf}}</li>
                        <li class="list-group-item">Data Nascimento: {{res.cadastro.nascimento}}</li>
                        <li class="list-group-item">Telefone: {{res.cadastro.telefone}}</li>
                        <li class="list-group-item">Celular: {{res.cadastro.celular}}</li>
                        <li class="list-group-item">Estado: {{res.cadastro.estado}}</li>
                        <li class="list-group-item">Cidade: {{res.cadastro.cidade}}</li>
                        <li class="list-group-item">CEP: {{res.cadastro.cep}}</li>
                        <li class="list-group-item">Endereço: {{res.cadastro.endereco}}</li>
                        <li class="list-group-item">Número: {{res.cadastro.numero}}</li>
                        <li class="list-group-item">Complemento: {{res.cadastro.complemento}}</li>
                        <li class="list-group-item">Bairro: {{res.cadastro.bairro}}</li>
                        <li class="list-group-item">Data Cadastro:{{res.cadastro.data_cadastro}}</li>
                        <li class="list-group-item">Tipo Aluno: {{res.cadastro.tipo_aluno}}</li>
                        <li class="list-group-item">Tipo: {{res.cadastro.tipo_page}}</li>
                    </ul>
                </div>
                <div class="panel-body" style="padding-bottom: 0;" ng-if="res.cadastro.responsavel==1">
                    <div class="panel panel-default" ng-repeat="ret in res.alunos" style="margin-top: 0;">
                        <div class="panel-heading">
                            <h1> Dados do Aluno Menor de Idade: </h1>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">Nome: {{ret.aluno.nome}}</li>
                                <li class="list-group-item">RG: {{ret.aluno.rg}}</li>
                                <li class="list-group-item">Data Nascimento: {{ret.aluno.nascimento}}</li>
                                <li class="list-group-item">Contrato: {{ret.aluno.contrato}}</li>
                                <li class="list-group-item">Estado Unidade: {{ret.aluno.estado}}</li>
                                <li class="list-group-item">Cidade Unidade: {{ret.aluno.cidade}}</li>
                                <li class="list-group-item">Unidade: {{ret.aluno.unidade}}</li>
                                <li class="list-group-item">Unidade Code: {{ret.aluno.unidade_code}}</li>
                                <li class="list-group-item">
                                    CODIGOS:
                                    <h4 ng-repeat="cod in ret.codigos">
                                        <b>{{cod.codigo}}</b>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="padding-bottom: 0;" ng-if="res.cadastro.responsavel==0">
                    <div class="panel panel-default" ng-repeat="ret in res.alunos" style="margin-top: 0;">
                        <div class="panel-heading">
                            <h1> Dados do Aluno: </h1>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">Nome: {{ret.aluno.nome}}</li>
                                <li class="list-group-item">E-mail: {{res.cadastro.email}}</li>
                                <li class="list-group-item">RG: {{ret.aluno.rg}}</li>
                                <li class="list-group-item">CPF: {{res.cadastro.cpf}}</li>
                                <li class="list-group-item">Data Nascimento: {{ret.aluno.nascimento}}</li>
                                <li class="list-group-item">Telefone: {{res.cadastro.telefone}}</li>
                                <li class="list-group-item">Celular: {{res.cadastro.celular}}</li>
                                <li class="list-group-item">Contrato: {{ret.aluno.contrato}}</li>
                                <li class="list-group-item">Estado Unidade: {{ret.aluno.estado}}</li>
                                <li class="list-group-item">Cidade Unidade: {{ret.aluno.cidade}}</li>
                                <li class="list-group-item">Unidade: {{ret.aluno.unidade}}</li>
                                <li class="list-group-item">Unidade Code: {{ret.aluno.unidade_code}}</li>
                                <li class="list-group-item">Endereço: {{res.cadastro.endereco}}</li>
                                <li class="list-group-item">Número: {{res.cadastro.numero}}</li>
                                <li class="list-group-item">Complemento: {{res.cadastro.complemento}}</li>
                                <li class="list-group-item">Bairro: {{res.cadastro.bairro}}</li>
                                <li class="list-group-item">Data Cadastro:{{res.cadastro.data_cadastro}}</li>
                                <li class="list-group-item">Tipo Aluno: {{res.cadastro.tipo_aluno}}</li>
                                <li class="list-group-item">Tipo: {{res.cadastro.tipo_page}}</li>
                                <li class="list-group-item">
                                    CODIGOS:
                                    <h4 ng-repeat="cod in ret.codigos">
                                        <b>{{cod.codigo}}</b>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <button ng-click="vm.closeModal('modal-cadastro');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>