<div class="container-fluid">
    <div data-widget-group="group1">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default" data-widget='{"draggable": "false"}'>
                    <div class="panel-heading">
                        <h1>Escolha sua Unidade:</h1>

                        <div class="panel-ctrls"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-widget-group="group1">
        <div class="row">

            <div class="col-md-6" ng-repeat="unidade in vm.unidades" ng-if="unidade.Code">
                <div class="panel panel-teal" data-widget="{'draggable': 'false'}" data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                    <div class="panel-heading" style="background-color: #006fca;border-color: #003057;">
                        <a href="inicio/{{unidade.Code}}">
                            <h2 style="color: #e0f7fa;">{{unidade.Name}}</h2>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>